.boxPortfolio1 {
  height: 100vh;
  padding-top: 25vh;
  padding-left: 6em;
}

.boxPortfolio1 p,
.boxPortfolio1 h1 {
  width: 45%;
}

.boxPortfolio1 p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .5em;
}

.boxPortfolio1 h1 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1em;
  color: #ff8a00;
}

.portfoilioLine {
  border: 7px solid #ff8a00;
  width: 40%;
  margin: 1em 0 1.5em 0;
  border-radius: 30px;
}

.boxPortfolio2 {
  margin: 5em 5em;
}

.makePortfolio {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.makePortfolio p {
  color: #aaa;
  font-weight: lighter;
}

.makePortfolio p {
  margin-bottom: 2em;
  font-size: 13px;
}

.makePortfolio i {
  font-size: 30px;
}

.makePortfolio img {
  width: 60%;
  margin: 1em 0;
}

.makePortfolio li {
  width: 25%;
  margin: 0 .5em;
}

.makePortfolio a {
  text-decoration: none;
}

.frontEnd,
.backEnd,
.data,
.fullStack,
.mobile,
.digital,
.devops,
.ia {
  padding: .8em;
}

.frontEnd:hover,
.backEnd:hover,
.data:hover,
.fullStack:hover,
.mobile:hover,
.digital:hover,
.devops:hover,
.ia:hover {
  background-color: #111;
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px -2px 10px 0px;
}

.frontEnd,
.backEnd,
.data,
.fullStack,
.mobile,
.digital,
.devops,
.ia {
  border: 2px solid #aaa;
  border-radius: 5px;
}

.frontEnd,
.fullStack,
.mobile,
.devops {
  margin-bottom: 1em;
}

.frontEnd i {
  color: #ff8a00;
}

.backEnd i {
  color: #009cff;
}

.fullStack i {
  color: #8912ee;
}

.data i {
  color: #ee1255;
}

.mobile i {
  color: #3ef38b;
}

.digital i {
  color: #f6e631;
}

.devops i {
  color: #d922b0;
}

.ia i {
  color: #17e0d4;
}

.textPortfolio,
.ctaPortfolio {
  text-align: center;
}

.textPortfolio {
  margin-bottom: 4em;
}

.ctaPortfolio {
  margin-top: 1em;
}

.textPortfolio h1 {
  color: #ff8a00;
  margin-bottom: .4em;
}

.textPortfolio p,
.ctaPortfolio p {
  font-size: 18px;
}

.ctaPortfolio a {
  color: #ff8a00;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
}

.ctaPortfolio a:hover {
  opacity: .8;
}

@media (max-width:760px) {
  .boxPortfolio1 {
    height: 70vh;
    padding: 9em 2em;
    text-align: center;
  }

  .boxPortfolio1 p,
  .boxPortfolio1 h1 {
    width: 100%;
  }

  .boxPortfolio1 h1 {
    font-size: 30px;
  }

  .portfoilioLine {
    width: 100%;
  }

  .boxPortfolio2 {
    margin: 5em 1.5em;
  }

  .makePortfolio {
    flex-direction: column;
  }

  .makePortfolio li {
    width: 100%;
    margin: 0;
  }

  .backEnd,
  .data,
  .digital {
    margin-bottom: 1.2em;
  }
}